<div style="width:800px; margin:0 auto;">
    <div style="min-height:  100px">
        <div>
            <table width="100%" cellpadding="0" class="table-responsive">
                <tbody>
                    <tr>
                        <td>
                            <div style="font-size: 22px">
                                All Users
                            </div>
                        </td>
                        <td align="right">
                        <a class = "link-text" href="#/account" style="background:#333; border:none; font-size:12px; padding:8px 12px;">
                            + Add User
                        </a>
                            
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
        <hr>
        <div class="panel_table panel-index-table">
            <div class = "table_heading">
                <table width="100%">
                    <tbody>
                        <tr>
                            <td class="table_heading" style="text-align: left;">
                                <span style="margin-left: 8px">Users</span>
                            </td>
                            <td class="table_heading" width="30%">
                                Created Date
                            </td>
                            <td class="table_heading hidden-xs" width="115">
                                Modify
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>           
        </div>
        <hr>
     <!--    content -->
        <div>
            <table width="100%">
                <tbody>
                    <tr>
                        <td align="left">
                            <div class = "panel_phrase">
                            <span style="margin-left: 8px">
                                <a href="#">username</a>
                            </span>
                            
                            </div>
                        </td>
                        <td width="30%">
                            <div class="panel_results_count" style="font-size: 11px">
                                date
                            </div>
                        </td>
                        <td width="55" class="hidden-xs">
                            <div class="mention_option_edit">
                                <a href="#"><span>
                                    <i class="fa fa-pencil"></i>
                                    Edit
                                </span>
                                    
                                </a>
                            </div>
                        </td>
                        <td width="55" class="hidden-xs">
                            <div class="mention_option_edit">
                                <a href="#"><span>
                                    <i class="fa fa-times"></i>
                                    Delete
                                </span>
                                    
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>